.federation h2 {
    color: blue;
}
.empire h2 {
    color: red;
}
.independent-or-alliance h2 {
    color: gray;
}
.filter-list:has(:where(#core-dynamics-composites, #proprietary-composites):checked) ~ .sections .federation,
.filter-list:has(#imperial-shielding:checked) ~ .sections .empire,
.filter-list:has(:where(
    #improvised-components,
    #military-grade-alloys,
    #military-supercapacitors,
    #pharmaceutical-isolators,
    #proto-heat-radiators,
    #proto-light-alloys,
    #proto-radiolic-alloys
):checked) ~ .sections .independent-or-alliance,
.filter-list:has(:where(#core-dynamics-composites, #proprietary-composites):checked) ~ .sections .federation .election-none,
.filter-list:has(:where(#military-grade-alloys, #military-supercapacitors):checked) ~ .sections .independent-or-alliance .war,
.filter-list:has(#improvised-components:checked) ~ .sections .independent-or-alliance .civil-unrest,
.filter-list:has(#imperial-shielding:checked) ~ .sections .empire .election-none,
.filter-list:has(#pharmaceutical-isolators:checked) ~ .sections .independent-or-alliance .outbreak,
.filter-list:has(:where(#proto-heat-radiators, #proto-light-alloys):checked) ~ .sections .independent-or-alliance .boom,
.filter-list:has(#proto-radiolic-alloys:checked) ~ .sections .independent-or-alliance .expansion
{
    display: block;
}
