.section h2 {
    color: var(--highlight-1);
}
.filter-list:has(:where(
    #polonium,
    #ruthenium,
    #technetium,
    #tellurium
):checked) ~ .sections .hip-36601,
.filter-list:has(:where(
    #antimony,
    #yttrium
):checked) ~ .sections .outotz-ls-k-d8-3,
.filter-list:has(#selenium:checked) ~ .sections .hr-3230,
.filter-list:has(#antimony:checked) ~ .sections .outotz-ls-k-d8-3 .b-5-c,
.filter-list:has(#polonium:checked) ~ .sections .hip-36601 .c-1-a,
.filter-list:has(#ruthenium:checked) ~ .sections .hip-36601 .c-1-d,
.filter-list:has(#technetium:checked) ~ .sections .hip-36601 .c-5-a,
.filter-list:has(#tellurium:checked) ~ .sections .hip-36601 .c-3-b,
.filter-list:has(#selenium:checked) ~ .sections .hr-3230 ._3-a-a,
.filter-list:has(#yttrium:checked) ~ .sections .outotz-ls-k-d8-3 .b-5-a
{
    display: block;
}
.coords {
    display: none;
    color: var(--accent-1);
    line-height: 1.5rem;
}
.coords-toggle {
    margin-top: 1rem;
}
.coords-toggle:has(input:checked) ~ .sections .coords
{
    display: inline;
}
.coords-toggle svg *
{
    stroke: var(--color);
    stroke-width: 1;
    fill: none;
}
.coords-toggle svg circle {
    fill: var(--bg-color);
}
.coords-toggle label,
.coords-toggle label:has(input:checked)
{
    border: none;
}
.coords-toggle:has(input:checked) .hidden {
    display: none;
}
